.drink{
	background-color: white;
	border-color: grey;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	position: relative;
	z-index: 1 !important;
}

label {
	left: 0;
	position: absolute;
	margin: 2% 0 2% 5%;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 15px;
}


.drink input{
	right: 0;
	position: absolute;
	max-width: 50px;
	margin: 2% 5% 2% 0;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 15px;
}

#name{
	font-size: 1.17em;
	font-weight: bold;
	width: 50% !important;
	max-width: 100% !important;
	margin: 1em 0 0.5em 0 !important;
	padding: 0 !important;
	border: none;
	transform: translateX(-50%);
	text-align: center;
}

#butDiv{
	max-width: inherit;
	width: inherit;
	max-height: 15%;
	height: 15%;
	position: absolute;
	bottom: 5%;
}

#edit{
	max-width: 45%;
	max-height: 100%;
	margin-left: 5%;
	left: 0;
}

#remove{
	max-width:  45%;
	max-height: 100%;
	margin-right: 5%;
	right: 0;
}



/* Desktop Scherm*/
@media screen and (min-width: 1200px){
	.drink{
		margin: 1%;
		height: 200px;
		width: 270px;
		border-radius: 25px;
	}
}


/* Tablet Scherm */
@media screen and (min-width: 760px) and (max-width: 1200px){
	.drink{
		margin: 1%;
		height: 200px;
		width: 270px;
		border-radius: 25px;
	}
}


/* Telefoon Scherm*/
@media screen and (max-width: 760px){
	.drink{
		margin: 1%;
		height: 200px;
		width: 270px;
		border-radius: 15px;
	}
}